@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  src: url(/public/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

img {
  display: flex;
}

.bg-header {
  background: url("/public/wp3087080.jpg") center center no-repeat;
  background-attachment: fixed;
}

.random {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("/public/HD-wallpaper-beer-cans-alcohol-beverage-cool-drinks-new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-homer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Simpsons";
}

.btn-homer img {
  height: 8vh;
}

@font-face {
  font-family: "Simpsons";
  src: url("/public/simpsonfont/Simpsonfont\ DEMO.otf");
}

.card-title {
  font-family: " NotoSerif";
  font-size: 1.5rem;
}

.img-wrapper {
  display: flex;
}

.hero-detail {
  background-image: url("/public/green_beer.jpeg");
}

.h1-detail {
  color: #acba70;
}

.img-overview {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
